:root {
    --blue-grey: #141922 ;
    --dark-grey: #282828;
    --light: #FFFFFF;
    --yellow-green: #aeff2e;
    --grey: #6d6d6d;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--light);
}


ul,
ol,
menu {
    list-style: none;

}

img {
    /* width: 100%; */
    display: block;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* layouts */

/* .container {
    max-width: 1180px;
    margin: 0 auto;
}

.container-small {
    max-width: 640px;
    margin: 0 auto;
} */

.main-content {
    flex-grow: 1;
    display: flex;
}

.app-side-bar {
    max-width: 230px;
    flex-shrink: 0;
}



.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* [class^="col"] {
    padding: 0 12px;
} */

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.centered-content {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.color-grey {
    color: var(--grey);
}

.flex-grow {
    flex-grow: 1;
}

#app {
    height: 100vh;
}


#app,
.app-content,
.main-content,
.toolbar,
.side-bar {

    overflow: hidden;
}

.side-bar {
    width: 50px;
    background-color: black;
}

.toolbar {
    height: 90px;
    background-color: var(--dark-grey);
}

.main-content {
    background-color: var(--blue-grey);
}

/* Player - Toolbar */

.toolbar {
    gap: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

.toolbar-player {
    width: 50%;
}

.toolbar-album,
.toolbar-controls {
    width: 230px;
}

.toolbar-player {
    gap: 10px;
}

.album-img {
    width: 45px;
    aspect-ratio: 1;
    /* width: 100%; */
}

.album, 
.album-control {
    gap: 15px;
}

.toolbar-album {
    gap: 20px;
}

.toolbar-album .album-song {
    font-size: 10px;
}

.toolbar-album .album-name {
    font-size: 12px;
}

.album-control {
    flex-wrap: wrap;
    /* margin-left: auto; */
}

.player-controls {
    gap: 20px;
}

.play-icon {
    font-size: 25px;
}

.time-bar {
    background-color: var(--grey);
    border-radius: 999px;
    position: relative;
}

.time-progress {
    width: 25%;
    background-color: lightgray;
    height: 8px;
    border-radius: 999px;
}

.player-track-time {
    gap: 15px;

}

.current-time, .total-time {
    font-size: 12px;
}

.time-progress-handler {
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background-color: var(--light);
    position: absolute;
    top: 0px;
    left: 25%;
    transform: translate(-50%, -20%);
    display: none;
}

.time-bar:hover .time-progress-handler {
    display: block;
}

.time-bar:hover .time-progress {
    background-color: var(--yellow-green);
}

.toolbar-settings {
    gap: 15px;
}

.toolbar-control-setting {
    gap:15px
}

.control-track-time {
    width: 80px;
}

/* Side Bar - Nav menu */

/* .side-bar {
    padding: 20px;
} */

.navbar-logo-img {
    width: 130px;
    padding-left: 20px;
}

.navbar p {
    font-size: 13px;
}

.navbar-functions img {
    height: 28px;
}

.libreria-icon {
    width: 22px;
}

.navbar-functions {
    gap: 10px;
}

.navbar-functions > * {
    padding-left: 20px;
}
















/* Responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .side-bar {
        width: 230px;
    }

    .album-control {
        flex-wrap: nowrap;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

/* debug */
.debug .container,
.debug .container-small {
    border: 2px solid red;
    padding: 10px;
}

.debug .row {
    border: 2px solid greenyellow;
    padding: 10px;
}

/* .debug [class^="col"] {
    border: 2px solid black;
    padding: 10px;
} */

.debug .app-content {
    border: 1px solid red;
}

.debug .side-bar,
.debug .main-content {
    border: 1px solid green;
}

.debug .toolbar-album,
.debug .toolbar-player,
.debug .toolbar-controls,
.debug .navbar-logo,
.debug .navbar-functions {
    border: 1px solid yellow;
}

.debug .album,
.debug .album-control {
    border: 1px solid lightblue;
}




