:root {
    --blue-grey: #141922;
    --dark-grey: #282828;
    --light: #FFFFFF;
    --yellow-green: #aeff2e;
    --grey: #6d6d6d;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--light);
}


ul,
ol,
menu {
    list-style: none;

}

img {
    display: block;
}

.content-figure-album > img  {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

.button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    text-transform: uppercase;
}

/* layouts */

.container {
    max-width: 1240px;
    margin: 0 auto;

}

.main-content {
    flex-grow: 1;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
}

.app-side-bar {
    max-width: 230px;
    flex-shrink: 0;
}



.row {
    display: flex;
}

.col-2 {
    flex-basis: 50%;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

[class^="col-"] {
    padding: 0 7px;
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.centered-content {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.color-grey {
    color: var(--grey);
}

.flex-grow {
    flex-grow: 1;
}

#app {
    height: 100vh;
}


#app,
.app-content,
.toolbar,
.side-bar {
    overflow: hidden;
}

.side-bar {
    width: 50px;
    background-color: black;
}

.toolbar {
    min-height: 90px;
    background-color: var(--dark-grey);
}

.main-content {
    background-color: var(--blue-grey);
}

/* Player - Toolbar */

.toolbar {
    gap: 15px;
    padding-left: 5px;
    padding-right: 10px;
}

.toolbar-player {
    width: 50%;
}

.toolbar-album,
.toolbar-controls {
    width: 230px;
}

.toolbar-player {
    gap: 10px;
}

.album-img {
    width: 45px;
    aspect-ratio: 1;
}

.album,
.album-control {
    gap: 15px;
}

.toolbar-album {
    gap: 20px;
}

.toolbar-album .album-song {
    font-size: 10px;
}

.toolbar-album .album-name {
    font-size: 12px;
}

.album-control {
    flex-wrap: wrap;
}

.player-controls {
    gap: 20px;
}

.play-icon {
    font-size: 25px;
}

.time-bar {
    background-color: var(--grey);
    border-radius: 999px;
    position: relative;
}

.time-progress {
    width: 25%;
    background-color: lightgray;
    height: 8px;
    border-radius: 999px;
}

.player-track-time {
    gap: 15px;

}

.current-time,
.total-time {
    font-size: 12px;
}

.time-progress-handler {
    width: 14px;
    height: 14px;
    border-radius: 999px;
    background-color: var(--light);
    position: absolute;
    top: 0px;
    left: 25%;
    transform: translate(-50%, -20%);
    display: none;
}

.time-bar:hover .time-progress-handler {
    display: block;
}

.time-bar:hover .time-progress {
    background-color: var(--yellow-green);
}

.toolbar-settings {
    gap: 15px;
}

.toolbar-control-setting {
    gap: 15px
}

.control-track-time {
    width: 80px;
}

/* Side Bar - Nav menu */

.navbar-logo {
    padding-top: 20px;
}

.navbar-logo-img {
    width: 130px;
    padding-left: 20px;
    display: none;
}

.navbar p {
    font-size: 13px;
}

.playlist-menu,
.download-cta {
    font-size: 13px;
}

.navbar-functions img {
    height: 28px;
}

.libreria-icon {
    width: 22px;
}

.navbar-functions {
    gap: 10px;
}

.navbar-functions>* {
    gap: 5px;
}

.playlist,
.add-playlist,
.download-app,
.user-profile {

    gap: 10px;
}

.add-playlist,
.playlist-title {
    margin-bottom: 15px;
}

.profile {
    margin-top: auto;
}

.plus-icon {
    font-size: 35px;
}

.playlist-title {
    text-transform: uppercase;
}

.playlist-menu {
    gap: 15px;
}

.side-bar {
    gap: 25px;
    padding-bottom: 20px;
    align-items: center;
    flex-shrink: 0;
}

.download-app {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
}

.download-app::after {
    content: '';
    border-bottom: 1px solid;
    width: 100%;
    color: var(--grey);
    margin-bottom: 10px;
    display: none;
}

.user-name {
    font-weight: 700;
    font-size: 15px;
}

.fa-circle-down {
    font-size: 12px;
}

.logo-sm {
    height: 35px;
}

.navbar p {
    display: none;
}

.playlist {
    display: none;
}

.user-name,
.download-cta {
    display: none;
}

/* Main content */

.upgrade-header {
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;

}

.upgrade-button {
    padding: 15px 25px;
}

.content-page-menu {
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 70px;
}

.content-menu-item {
    text-transform: uppercase;
    font-size: 13px;
}

.content-album-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.album-section .content-section-title {
    margin-bottom: 25px;
    margin-top: 25px;
}

.col-2 p {
    font-size: 13px;
}

.col-2 .content-album-title {
    font-size: 16px;
    font-weight: 700;
}

.user-advice .content-section-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.col-12 .content-section-title {
    font-size: 20px;
    font-weight: 700;

}

.col-12 p {
    font-size: 13px;
    font-weight: 700;
}

.section-title-subtitle {
    margin-bottom: 25px;
}

.popular-artist .content-section-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.popular-artist .col-2 .content-album-img {
    border-radius: 50%;
}

.upgrade-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.content-page {
    padding-left: 14px;
    padding-right: 14px;
}




/* hover details */

/* Main content - albums */

.content-figure-album {
    position: relative;
}

.play-hovered {
    opacity: 0;
    transition: 0.2s;
}

.content-album-img {
    transition: all 0.2s ease-in-out;
}

.content-figure-album > .play-hovered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.content-figure-album:hover .content-album-img {
    filter: brightness(0.5);
    
}

.content-figure-album:hover .play-hovered {
    opacity: 1;
}
 



/* Responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .side-bar {
        width: 230px;
        align-items: flex-start;
    }

    .album-control {
        flex-wrap: nowrap;
    }

    .navbar p {
        display: block;
    }

    .playlist {
        display: block;
    }

    .user-name,
    .download-cta {
        display: block;
    }

    .logo-lg {
        display: block;
    }

    .logo-sm {
        display: none;
    }

    .download-app::after {
        content: '';
        border-bottom: 1px solid;
        width: 100%;
        color: var(--grey);
        margin-bottom: 10px;
        display: block;
    }

    .side-bar {
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .profile {
        margin-top: auto;
        width: 100%;
    }

    .profile>* {
        padding-left: 20px;
    }

    .playlist>* {
        padding-left: 20px;
    }

    .navbar-functions>* {
        padding-left: 20px;
    }

    .download-app {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 0;
    }


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .col-2 {
        flex-basis: 25%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .col-2 {
        flex-basis: calc((100% / 12) * 2);
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}







/* debug */
.debug .container {
    border: 2px solid red;
    padding: 10px;
}

.debug .row {
    border: 2px solid greenyellow;
    padding: 10px;
}

.debug [class^="col-"] {
    border: 2px solid black;
    /* padding: 10px; */
    /* height: 100px; */
}

.debug .app-content {
    border: 1px solid red;
}

.debug .side-bar,
.debug .main-content {
    border: 1px solid green;
}

.debug .toolbar-album,
.debug .toolbar-player,
.debug .toolbar-controls,
.debug .navbar-logo,
.debug .navbar-functions,
.debug .playlist,
.debug .profile {
    border: 1px solid yellow;
}

.debug .album,
.debug .album-control {
    border: 1px solid lightblue;
}